@import 'public/font/stylesheet.css';
@import 'owl.carousel/dist/assets/owl.carousel.css';

body {
    background-color: black;
    font-family: 'TT Norms Pro';
}


/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: #fff;

    &.open {
        overflow: hidden;
    }
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }



.container {
    max-width: 1290px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

}

@media screen and (max-width:1400px) {

    .container {
        max-width: calc(100% - 30px);
    }
}

header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.call-block {
    display: flex;
    flex-direction: column;
    // padding-top: 33px;

    .call-block-row {
        display: flex;
        align-items: center;

        .img_item {
            svg {
                fill: #FFD900;
            }

            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 120%;
            margin-right: 18px;
        }

        a {
            font-family: TT Norms Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */

            text-align: right;

            /* 1 */

            color: #fff;
            transition: 300ms ease;



        }
    }

    .callback-call {

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: right;


        /* 3 */

        color: #FFD900;

        /* identical to box height, or 200% */
        display: flex;
        align-self: flex-end;

        transition: 300ms ease;

        border-bottom: 1px dashed #FFD900;

        &:hover {
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }
}

menu {
    min-width: 50%;
    display: flex;
    justify-content: space-between;

    .menu-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;

        /* 1 */

        color: #FFFFFF;
        transition: 400ms ease;

        &:hover {
            color: #FFD900;
        }
    }
}

.main {
    background-image: url('public/products/main_img_.png');
    background-position: right center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    padding-top: 50px;
    min-height: 84vh;
    display: flex;
    align-items: center;

    .main-sign {
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 76px;
        width: 50%;

        color: #FFFFFF;
        margin-bottom: 45px;

    }

    .main-list {
        .main-list-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;


            .item-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background: #1F1F1F;
                border-radius: 120%;
                margin-right: 15px;
            }
        }
    }

    .main-btn {
        margin-top: 40px;
    }
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    padding: 30px 0;
    border-radius: 14px;
    background: linear-gradient(97.48deg, #FFF099 0%, #FFE659 12.07%, #FFD900 54.4%);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #121212;
    transition: 400ms ease;

    &:hover {
        // background: linear-gradient(97.48deg, #FFF099 0%, #FFE659 50.07%, #FFD900 100%);
        color: #121212c8;
        // font-weight: 500;
    }
}

.image_block {
    margin-top: 30px;
    // margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 50px;

    .container {
        display: flex;
        // flex-direction: column;
        align-items: stretch;
        min-height: 50vh;
        justify-content: center;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    &.image-left {
        // background-position: center left;


        .content-block {
            width: 50%;

        }
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

    }

    &.image-right {
        background-position: right;
        background-repeat: no-repeat;
        background-size: 60% 100%;

        .container {
            align-items: flex-start;
            justify-content: flex-start;
        }

        .content-block {
            width: 45%;
            align-items: flex-start;
            justify-content: flex-start;
        }

    }
}

ul {
    padding-left: 15px;

    li {
        list-style-type: circle;

        &::marker {
            color: #FFD900;
        }
    }
}


label {

    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    align-self: center;
    color: #858585;

    a {
        color: #FFD900;
        text-decoration: underline;
    }

    input {
        margin-bottom: 0;
        opacity: 0;
        position: absolute;


        ~.custom_chk {

            width: 13px;
            height: 13px;
            background: #FFF;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-1px);
            max-width: 13px;
            flex-basis: 16%;
            margin-right: 10px;

            img {
                position: static;
                opacity: 0;
            }
        }

        &:checked {
            ~.custom_chk {
                width: 13px;
                height: 13px;
                background: #FFD900;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-1px);
                max-width: 13px;
                flex-basis: 16%;

                img {
                    opacity: 1;
                    position: static;
                    max-width: toRem(9);
                }
            }

        }
    }
}


.analyze-form {
    margin-bottom: 120px;
    padding-top: 80px;

    .title {
        margin: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 35px;
    }

    .subtitle {
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 48px;
        width: 60%;


    }

    form {}

    .form_row {
        display: flex;


        justify-content: space-between;

        input {
            padding: 30px 45px 30px 30px;
            width: calc(33% - 15px);
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            border-radius: 14px;
            background-position: center right 20px;
            background-repeat: no-repeat;

            &.name {
                background-image: url(public/products/user.svg);
            }

            &.tel {
                background-image: url(public/products/tel2.svg);
            }
        }

        button {
            width: calc(33% - 15px);
        }

        &.check {
            justify-content: center;
            margin-top: 15px;
        }
    }

    .explanation {

        margin: auto;
        margin-top: 30px;
        width: 60%;
        padding: 30px 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #858585;
        background: #1F1F1F;
        border-radius: 14px;
        position: relative;

        &::before {
            content: '';
            top: -20px;
            left: calc(50% - 5px);
            position: absolute;
            display: block;
            border: 10px solid transparent;
            border-bottom: 10px solid #1F1F1F;

        }
    }
}

.result {
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 70px;

    }

    .slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 300px;
        color: #fff;
        padding: 30px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-item {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 14px;
    }

    .subtitle-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        // width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 1 */

        color: #FFFFFF;
    }

    a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;
        text-decoration: underline;
        color: #FFD900;
    }

    .owl-carousel {
        // padding-left: 45px;
        // padding-right: 45px;
    }

    .owl-nav {

        .prev-slide {
            position: absolute;
            top: calc(50%);
            left: -40px;
        }

        .next-slide {
            position: absolute;
            top: calc(50%);
            right: -40px;
        }
    }
}

.example {
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 80px;
    }

    .example-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .example-img {
        width: calc(50% - 15px);
        background-image: url(public/products/example_bg.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .example-table {
        width: calc(50% - 15px);
    }

    .table {
        display: flex;
        flex-direction: column;

        .table-row {
            padding: 13px 0;
            display: flex;
            align-items: center;
            background: #1F1F1F;
            border-bottom: 1px solid #121212;

            &:first-child {
                background: #FFD900;
                border-radius: 10px 10px 0px 0px;
                color: #1F1F1F;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 134.7%;
                border-bottom: none;
                div{
                    font-weight: 700!important;
                    color: #1F1F1F!important;
                    
                }
            }
            &:last-child{
                border-bottom: none;
                border-radius: 0px 0px 10px 10px;
            }

            div {
                &:first-child {
                    width: 60%;
                    padding-left: 35px;
                    padding-right: 10px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 134.7%;

                }

                &:nth-child(2) {
                    width: 28%;
                    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 134.7%;
/* or 19px */


color: #797979;

                }

                &:nth-child(3) {
                    width: 15%;
                    padding-left: 10px;
                    text-align: end;
                    padding-right: 35px;
                    display: flex;
                    align-items: end;
                    justify-content: flex-end;
                }

                display: flex;
                align-items: center;
            }
        }
    }
}

.example-numbers{
    background: #1F1F1F;
    border-radius: 10px;
    padding: 30px 17px;
    margin-top: 45px;
    font-style: normal;
    
    font-size: 18px;
    line-height: 26px;
    .colored-text{
        font-weight: 700;  
color: #FFD900;

    }
}