@import 'public/font/stylesheet.css';
@import 'owl.carousel/dist/assets/owl.carousel.css';

body {
    background-color: black;
    font-family: 'TT Norms Pro';
}


/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: #fff;

    &.open {
        overflow: hidden;
    }
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }



.container {
    max-width: 1290px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

}

@media screen and (max-width:1400px) {

    .container {
        max-width: calc(100% - 30px);
    }
}

header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.call-block {
    display: flex;
    flex-direction: column;
    // padding-top: 33px;

    .call-block-row {
        display: flex;
        align-items: center;

        .img_item {
            svg {
                fill: #FFD900;
            }

            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 120%;
            margin-right: 18px;
        }

        a {
            font-family: TT Norms Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */

            text-align: right;

            /* 1 */

            color: #fff;
            transition: 300ms ease;



        }
    }

    .callback-call {

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: right;


        /* 3 */

        color: #FFD900;

        /* identical to box height, or 200% */
        display: flex;
        align-self: flex-end;

        transition: 300ms ease;

        border-bottom: 1px dashed #FFD900;

        &:hover {
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }
}

menu {
    min-width: 50%;
    display: flex;
    justify-content: space-between;

    .menu-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;

        /* 1 */

        color: #FFFFFF;
        transition: 400ms ease;

        &:hover {
            color: #FFD900;
        }
    }
}

.main {
    background-image: url('public/products/main_img_.png');
    background-position: right center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    padding-top: 50px;
    min-height: 84vh;
    display: flex;
    align-items: center;

    .main-sign {
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 76px;
        width: 50%;

        color: #FFFFFF;
        margin-bottom: 45px;

    }

    .main-list {
        .main-list-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;


            .item-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background: #1F1F1F;
                border-radius: 120%;
                margin-right: 15px;
            }
        }
    }

    .main-btn {
        margin-top: 40px;
    }
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    padding: 30px 0;
    border-radius: 14px;
    background: linear-gradient(97.48deg, #FFF099 0%, #FFE659 12.07%, #FFD900 54.4%);
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #121212;
    transition: 400ms ease;

    &:hover {
        // background: linear-gradient(97.48deg, #FFF099 0%, #FFE659 50.07%, #FFD900 100%);
        color: #1F1F1F;
        opacity: 0.7;
        
        // font-weight: 500;
    }
}

.image_block {
    margin-top: 30px;
    // margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 50px;

    .container {
        display: flex;
        // flex-direction: column;
        align-items: stretch;
        min-height: 50vh;
        justify-content: center;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    &.image-left {
        // background-position: center left;


        .content-block {
            width: 50%;

        }
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

    }

    &.image-right {
        background-position: right;
        background-repeat: no-repeat;
        background-size: 60% 100%;

        .container {
            align-items: flex-start;
            justify-content: flex-start;
        }

        .content-block {
            width: 45%;
            align-items: flex-start;
            justify-content: flex-start;
        }

    }
}

ul {
    padding-left: 15px;

    li {
        list-style-type: circle;

        &::marker {
            color: #FFD900;
        }
    }
}


label {

    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    align-self: center;
    color: #858585;

    a {
        color: #FFD900;
        text-decoration: underline;
    }

    input {
        margin-bottom: 0;
        opacity: 0;
        position: absolute;


        ~.custom_chk {

            width: 13px;
            height: 13px;
            background: #FFF;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-1px);
            max-width: 13px;
            flex-basis: 16%;
            margin-right: 10px;

            img {
                position: static;
                opacity: 0;
            }
        }

        &:checked {
            ~.custom_chk {
                width: 13px;
                height: 13px;
                background: #FFD900;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-1px);
                max-width: 13px;
                flex-basis: 16%;

                img {
                    opacity: 1;
                    position: static;
                    max-width: toRem(9);
                }
            }

        }
    }
}


.analyze-form {
    margin-bottom: 120px;
    padding-top: 80px;

    .title {
        margin: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 35px;
    }

    .subtitle {
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 48px;
        width: 60%;


    }

    form {}

    .form_row {
        display: flex;


        justify-content: space-between;

        input {
            padding: 30px 45px 30px 30px;
            width: calc(33% - 15px);
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            border-radius: 14px;
            background-position: center right 20px;
            background-repeat: no-repeat;

            &.name {
                background-image: url(public/products/user.svg);
            }

            &.tel {
                background-image: url(public/products/tel2.svg);
            }
        }

        button {
            width: calc(33% - 15px);
        }

        &.check {
            justify-content: center;
            margin-top: 15px;
        }
    }

    .explanation {

        margin: auto;
        margin-top: 30px;
        width: 60%;
        padding: 30px 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #858585;
        background: #1F1F1F;
        border-radius: 14px;
        position: relative;

        &::before {
            content: '';
            top: -20px;
            left: calc(50% - 5px);
            position: absolute;
            display: block;
            border: 10px solid transparent;
            border-bottom: 10px solid #1F1F1F;

        }
    }
}

.result {
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 70px;

    }

    .slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 300px;
        color: #fff;
        padding: 30px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-item {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 14px;
    }

    .subtitle-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        // width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 1 */

        color: #FFFFFF;
    }

    a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;
        text-decoration: underline;
        color: #FFD900;
    }

    .owl-carousel {
        // padding-left: 45px;
        // padding-right: 45px;
    }

    .owl-nav {

        .prev-slide {
            position: absolute;
            top: calc(50%);
            left: -40px;
        }

        .next-slide {
            position: absolute;
            top: calc(50%);
            right: -40px;
        }
    }
}

.example {
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 80px;
    }

    .example-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .example-img {
        width: calc(50% - 15px);
        background-image: url(public/products/example_bg.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .example-table {
        width: calc(50% - 15px);
    }

    .table {
        display: flex;
        flex-direction: column;

        .table-row {
            padding: 13px 0;
            display: flex;
            align-items: center;
            background: #1F1F1F;
            border-bottom: 1px solid #121212;

            &:first-child {
                background: #FFD900;
                border-radius: 10px 10px 0px 0px;
                color: #1F1F1F;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 134.7%;
                border-bottom: none;
                div{
                    font-weight: 700!important;
                    color: #1F1F1F!important;
                    
                }
            }
            &:last-child{
                border-bottom: none;
                border-radius: 0px 0px 10px 10px;
            }

            div {
                &:first-child {
                    width: 60%;
                    padding-left: 35px;
                    padding-right: 10px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 134.7%;

                }

                &:nth-child(2) {
                    width: 28%;
                    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 134.7%;
/* or 19px */


color: #797979;

                }

                &:nth-child(3) {
                    width: 15%;
                    padding-left: 10px;
                    text-align: end;
                    padding-right: 35px;
                    display: flex;
                    align-items: end;
                    justify-content: flex-end;
                }

                display: flex;
                align-items: center;
            }
        }
    }
}

.example-numbers{
    background: #1F1F1F;
    border-radius: 10px;
    padding: 30px 17px;
    margin-top: 45px;
    font-style: normal;
    width: 30%;
    font-size: 18px;
    line-height: 26px;
    .colored-text{
        font-weight: 700;  
    color: #FFD900;

    }
}
.example-text{
    width: 65%;
    margin-top: 45px;
}

.category{
    margin-top: 130px;
    .title{
        margin: auto;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        width: 90%;
        color: #FFFFFF;
        margin-bottom: 80px;

    }
.category-block{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .category-block_item{
        background: #1F1F1F;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        margin-left: 15px;
        align-items: center;
        padding-top: 28px ;
        padding-bottom: 28px ;
        min-width: 190px;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;

        transition: 300ms ease;
        &:hover{
            background: #FFD900;
            color: #121212;
        }
    }
 
}
}

.social-form{
    // overflow: hidden;
    margin-top: 70px;
    .container{
        background: #151515;
    border-radius: 14px;
    padding: 50px 70px;
    position: relative;
    z-index: 1;
    }
    .title{
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        padding-right: 200px;
        margin-bottom: 40px;
    }

    .form-img{
        position: absolute;
        right: -100px;
        bottom: 0;
        z-index: -1;
    }
    form{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(100% - 200px);
    }
    .tel{
        background: #fff;
        background-image: url(public/products/tel2.svg);
        padding: 30px 45px 30px 30px;
       
        border: 1px solid #ececec;
        border-radius: 14px;
        background-position: center right 20px;
        background-repeat: no-repeat;
        width: 30%;
    }
    input{
        &:checked{
             ~label{
                background: #1F1F1F;
            }
        }
    

    }
    label{
        align-self: flex-start;
        cursor: pointer;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #1F1F1F;
        background: none;
        width: 80px;
        height: 80px;
        margin-right: 15px;
        &:checked{
            background: #858585;
        }
        .viber{
            
                background: #7460F3;
                border-radius: 120%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
            
        }
        .telegram{
            
                background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);
                border-radius: 120%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
            
        }
        .watsup{
            
                background: #1ED061;
                border-radius: 120%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
            
        }
    }
    .button-col{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .button-col-sign{
            margin-top: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            a{
                color: #FFD900;
                text-decoration: underline;
            }
        }
    }
} 

.quiz{
    margin-top:120px;
    .title{
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */

        text-align: center;

        /* 1 */

        color: #FFFFFF;
        margin-bottom: 100px;
        }
        .quiz-block{
            display: flex;
            
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            .quiz-block_item{
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            margin-left: 15px;
            width: calc(25% - 30px);
            position: relative;
            padding: 50px 35px  ;
            background: #1F1F1F;
            border-radius: 14px;

            .check-box{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                background: #FFD900;
                border-radius: 120%;
                position: absolute;
                left: 36px;
                top: -24px;
            }
            .item-title{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                /* or 125% */
                
                
                color: #FFFFFF;
                margin-bottom: 15px;
            }
            .item-text{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                
                
                color: #A3A3A3;
                
            }

            }
        }
        .quize-btn{
            
            margin: auto;
            margin-top: 80px;
        }
}

.stages{
    margin-top: 120px;
    .title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        
        text-align: center;
        
        
        color: #FFFFFF;
        margin-bottom: 80px;
    }
    .stages-block{
        display: flex;
        margin-right: -35px;
        margin-left: -35px;
        .line{
            height: 1px ;
            background:  #2E2E2E;
            width: 100%;
            margin-bottom: 35px;
            margin-top: 35px;
        }
        .stages-block_item{
            margin-right: 35px;
            margin-left: 35px;
            width: calc(33% - 30px);
            .item_number{
                margin-bottom: 10px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: #A3A3A3;
               
            }
            .item_title{
                // margin-bottom: 70px;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 30px;
                color: #FFFFFF;
               
            }
            li{
                margin-bottom: 10px;
                list-style-type: disc;
            }
        }
    }
}

.plan{
    margin-top: 85px;
    .title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 80px;

    }
    .plan-block_item{
        display: flex;
        // align-items: center;
        align-items: flex-start;

        margin-bottom: 90px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .plan_row{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
       
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
/* identical to box height, or 127% */
margin-bottom: 45px;

color: #FFFFFF;
.colored-text{
color: #FFD900;
font-weight: 700;
}
    }
    .item_price{
       
        padding: 16px;
        background: #1F1F1F;
        border-radius: 8px; 
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;

    }
    ul{
        margin-bottom: 20px;
        li{
            margin-bottom: 8px;
            font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    
    list-style-type: disc;
    color: #FFFFFF;
        }
    }
    .content{
        // display: none;
        transition: 300ms ease;
        position: absolute;
        top: -100%;
        opacity: 0;

        &.show{
            // display: block;
            position: static;
            opacity: 1;

        }
        ol, ul{
            li{
                margin-bottom: 8px;
                font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
     
        color: #A3A3A3;
            }
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #A3A3A3;
        }
    }
    ol{
        li{
            margin-bottom: 8px;
            font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
 
    color: #FFFFFF;
        }
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #A3A3A3;
    }
    .main-btn{
        // 
    }
    .button_row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        .button_row_text{
            font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #FFFFFF;
            width: 60%;
        }
    }

    .more{
        color: #FFD900;
        cursor: pointer;
    }
}


.choise{
    .title{
        font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
margin-bottom: 80px;
margin-top: 120px;
    }
    .owl-carousel-choise{
        position: relative;
    }
    .slide{
        background: #FFFFFF;
border-radius: 14px;
height: 90px;
display: flex;
align-items: center;
justify-content: center;
img{
    max-height: 70%;
    max-width: 80%;
    width: auto;
}
    }
    .owl-nav {

        .prev-slide {
            position: absolute;
            top: 35px;
            left: -40px;
        }

        .next-slide {
            position: absolute;
            top: 35px;
            right: -40px;
        }
    }
}

.form-bottom{
    margin-top: 140px;
    .container{
        background: #151515;
    border-radius: 14px;
    padding: 50px 70px;
    position: relative;
    z-index: 1;
    }
    .title{
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        padding-right: 200px;
        margin-bottom: 40px;
    }

    .form-img{
        position: absolute;
        right: 0px;
        bottom: 0;
        z-index: -1;
    }
    form{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(100% - 200px);
    }
    .tel{
        background: #fff;
        background-image: url(public/products/tel2.svg);
        padding: 30px 45px 30px 30px;
       
        border: 1px solid #ececec;
        border-radius: 14px;
        background-position: center right 20px;
        background-repeat: no-repeat;
        width: calc(33% - 15px);
    }
    .name{
        background: #fff;
        background-image: url(public/products/user.svg);
        padding: 30px 45px 30px 30px;
       
        border: 1px solid #ececec;
        border-radius: 14px;
        background-position: center right 20px;
        background-repeat: no-repeat;
        width: calc(33% - 15px);
    }
    input{
        &:checked{
             ~label{
                background: #1F1F1F;
            }
        }
    

    }

    .button-col{
        width: calc(33% - 15px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .button-col-sign{
            margin-top: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            a{
                color: #FFD900;
                text-decoration: underline;
            }
        }
    }
}

footer{
    margin-top: 140px;
    .footer-top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrapper{
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            img{
                margin-right: 30px;
            }
        }
        .phone{
            font-style: normal;
            font-weight: 800;
            font-size: 21px;
            line-height: 25px;
            text-align: right;
            text-transform: uppercase;
            color: #FFFFFF;

        }
    }
    .line{
        height: 1px;
        background:  #2D2D2D;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
        .politicy{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height, or 117% */

            text-align: right;
            text-decoration-line: underline;

            color: #A3A3A3;
        }
    }

}

#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 70px;
    width: 48px;
    height: 48px;
    display: none;
    border-radius: 120%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    color: #fff;
    cursor: pointer;
    background: #FFD900;

}

#modal-call{
    display: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #1F1F1F;
    border-radius: 8px 0px 8px 8px;
max-width: 440px;
    .modal-title {
        font-family: TT Norms Pro;
        font-style: normal;

        font-size: 30px;
        line-height: 36px;
        text-align: center;

        color: #fff;
        margin-bottom: 45px;

    }

    form {
        display: flex;
        flex-direction: column;
    }

   

    input {
        margin-bottom: 15px;
        background: #F4F4F4;
        border-radius: 10px;
        display: block;
        border: none;
        padding: 36px 28px;

        &::placeholder {
            font-family: TT Norms Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #929292;
        }
    }

    .main-btn {
        margin-bottom: 15px;
        width: 100%;
    }
    .button-sign{
        font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

text-align: center;

/* 4 */

color: #FFFFFF;
a{
    color: #FFD900;
}
    }
.carousel__button.is-close{
    top: 0;
    right: -40px;
    background: #FFD900;
    border-radius: 0px 8px 8px 0px;
    color: #121212;
}
}



